<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Grades</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<span th:text="'Id: ' + ${student.id}" /><br/><br/>
<span th:text="'Name: ' + ${student.firstName} + ' ' + ${student.lastName}" />
<br/>
<br/>
<table>
    <tr>
        <td>Course Id</td>
        <td>Grade</td>
    </tr>
    <tr th:each="grade :${grades}">
        <td><span th:text="${grade.courseId}" /></td>
        <td><span th:text="${grade.band}" /></td>
        <td><a th:href="'/updateGrade?studentId=' + ${grade.studentId} + '&amp;courseId=' + ${grade.courseId}">Update</a></td>
    </tr>
</table>
<br/>
<form action="#" th:action="@{/updateGrade}" method="get" studentId="studentId" courseId="courseId">
    Course Id:<input type="text" id="courseId" name="courseId"/><br/>
    <input hidden="true" type="text" id="studentId" name="studentId" th:value="${student.id}"/><br/>
    <input type="submit" value="Add Grade"/>
</form>
<br/>
<br/>
<a href="/">Home</a><br/>
</body>
</html>