<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<span th:text="'Instance Index: ' + ${cfInstanceIndex}" /><br/>
<span th:text="'Instance Address: ' + ${cfInstanceAddress}" /><br/>
<br/>
<h3>All Registered Students</h3>
<table border="1">
    <tr>
        <td>Id</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr th:each="student :${students}">
        <td>
            <span th:text="${student.id}"/><br/>
        </td>
        <td>
            <span th:text="${student.firstName}"/><br/>
        </td>
        <td>
            <span th:text="${student.lastName}"/><br/>
        </td>
        <td>
            <a th:href="'/student/' + ${student.id}">Courses</a><br/>
        </td>
        <td>
            <a th:href="'/editStudent/' + ${student.id}">Rename</a><br/>
        </td>
        <td>
            <a th:href="'/deleteStudent/' + ${student.id}">Delete</a><br/>
        </td>
    </tr>
</table>
<br/>
<a href="/addStudent">Add a Student</a>
<br/>
<a href="/">Home</a><br/>
</body>
</html>