<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>New Student Entry</h2>

<form action="/createStudent" method="post" modelAttribute="studentRegistration">
    First name:<br/>
    <input type="text" name="firstName"/><br/>
    Last name:<br/>
    <input type="text" name="lastName"/><br/>
    Courses (comma seperated):<br/>
    <input type="text" name="courses"/><br/><br/>


    <input type="submit" value="Submit"/>
</form>

<br/>
<a href="/">Home</a><br/>
</body>
</html>